@media (max-width: 1100px) {
  .comments .comment-back {
    left: auto;
    right: -200px;
  }
  .about .container .info {
    width: 50%;
  }
  .about .container .img-block {
    margin-left: 50px;
  }
  .about .container .owner {
    width: 680px;
    right: -80px;
    top: 0px;
  }
  .header-img {
    z-index: -1;
    opacity: 0.2;
  }
  .main-form .form-wrapper {
    padding: 30px 30px;
    width: 90%;
  }
  .main-form .form-wrapper form {
    width: 50%;
  }
  .main-form .form-wrapper form input {
    width: 80%;
  }
  .main-form .form-wrapper .form-img {
    width: 50%;
  }
}

@media (max-width: 876px) {
  footer img {
    margin: 0 30px;
  }
  .you-get h1 {
    width: 100%;
    text-align: center;
  }
  .you-get img {
    width: 30%;
  }
  .about {
    padding-bottom: 0px;
  }
  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .container .info {
    width: 100%;
    max-width: 100%;
  }
  .about .container .owner {
    min-width: 500px;
    position: initial;
  }
  .about .container .img-block {
    height: 650px;
    margin-left: 0px;
  }
  .about .container .img-block .owner {
    width: 100%;
  }
  .about .container .img-block .numbers {
    position: relative;
    bottom: 200px;
    margin-right: 0px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 0px;
  }
  .about .container .img-block .numbers .num-block {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .dots {
    top: 450px;
  }
  .dots .dot {
    background-color: white;
  }
  .comments .comment-back {
    bottom: 0px;
  }
  .comments .nav-btns {
    top: 230px;
  }
  .comments .comments-slider .comment .text-block {
    padding: 0 30px;
  }
  .comments .nav-btns .prev {
    margin-left: calc((100vw - 400px)/2);
  }
  .comments .nav-btns .next {
    margin-right: calc((100vw - 400px)/2);
  }
  .comments .comments-slider {
    left: calc((-1215px + 100vw)/2);
  }
  .comments .comments-slider .comment {
    width: 320px;
  }
  .exercise-time .wrapper .text-block {
    width: 240px;
    height: 140px;
  }
  .exercise-time .wrapper .text-block h1 {
    font-size: 60px;
  }
  .exercise-time .wrapper .text-block h1 span {
    font-size: 40px;
  }
  .exercise-time .wrapper .text-block p {
    font-size: 24px;
  }
  .questions .question .answer p, .questions .question .answer li {
    font-size: 16px;
  }
  .questions .question .wrapper h3 {
    font-size: 20px;
  }
  .questions .question .wrapper h1 {
    font-size: 50px;
  }
  .questions .question .answer p, .questions .question .answer ul {
    width: 100%;
  }
  header .header-info #triangle1 {
    width: 50%;
    top: 800px;
  }
  .main-form .form-wrapper #left-btm-corner, .main-form .form-wrapper #right-btm-corner, .main-form .form-wrapper #right-top-corner {
    display: none;
  }
  .exercise-time .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .exercise-time .wrapper .text-block:first-child {
    margin-bottom: 50px;
  }
  .you-get .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .you-get .wrapper p {
    text-align: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .you-get .wrapper p::after {
    display: none;
  }
  .you-get .wrapper p::before {
    margin-right: 13px;
    content: url(../img/planet.png);
  }
  .you-get img {
    margin: auto;
    margin-bottom: 50px;
  }
  footer {
    padding: 30px 0;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .container img {
    margin: 30px 0;
  }
  footer .container .footer-nav {
    text-align: start;
    padding: 0px;
  }
}

@media (max-width: 576px) {
  header .header-info #triangle1 {
    top: 120vh;
  }
  header .header-info .container .wrapper {
    margin-top: 50%;
  }
  .header-img {
    height: 100vh;
  }
  header {
    height: 100vh;
  }
  .comments .h1-wrapper h2 {
    font-size: 80px;
    top: -110px;
    left: -70px;
  }
  .about .container .img-block {
    height: 450px;
  }
  .about .container .img-block .numbers {
    left: -30px;
    width: 350px;
    position: relative;
    bottom: 250px;
    margin: auto;
  }
  .about .container .img-block .numbers h1 {
    font-size: 40px;
  }
  .about .container .img-block .numbers p {
    font-size: 16px;
  }
  .about .container .owner {
    position: relative;
    right: 30px;
    top: -50px;
  }
  .main-form {
    margin-top: 250px;
  }
  .exercise-time .parallax-group2 {
    bottom: -500px;
  }
  .you-get img {
    width: 50%;
  }
  .you-get {
    margin-top: 0px;
  }
  header .header-info .container .wrapper {
    width: 100%;
  }
  .main-form .form-wrapper {
    width: 85%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-form .form-wrapper form {
    width: 100%;
    margin-bottom: 50px;
  }
  .main-form .form-wrapper form input {
    width: 90%;
  }
  .main-form .form-wrapper form button {
    width: 100%;
  }
}
/*# sourceMappingURL=media.css.map */